.home-sessao-two {
    padding: 80px 0;

    &-block-title {
        text-align: center;
        margin-bottom: map-get($spacers, 5);
        p {
            color: $indigo;
            margin-bottom: map-get($spacers, 2);
            text-transform: uppercase;
            font-weight: $font-weight-normal;
            @include responsive-font-size(14px);
        }
        h2 {
            font-family: 'Nunito';
            color: $gray-800;
            font-weight: $font-weight-bolder;
            @include responsive-font-size(52px);
        }
    }
    &-wrapper {
        text-align: left;
        padding-bottom: map-get($spacers, 5);
        span {
            display: flex;
            justify-content: flex-start;
            img {
                width: 50px;
            }
        }
        h3 {
            margin: map-get($spacers, 2) map-get($spacers, 2);
            font-weight: $font-weight-bold;
            color: $gray-800;
            margin: 0 0 map-get($spacers, 2) 0;
            line-height: 58px;
            text-align: left;
            @include responsive-font-size(48px);
            &:nth-child(2) {
                margin-top: 40px;
            }
        }
        p {
            text-transform: unset;
            color: $gray-500;
            text-align: left;
            font-weight: $font-weight-light;
            @include responsive-font-size(15px);
        }
    }
}