.page-internal {
    padding: 100px 0;

    .wrapper {
        align-items: center;
        padding-bottom: map-get($spacers, 5);
    }

    &-columnLeft {
        padding: 0 50px 0 20px;
        img {
            border-radius: 10px;
        }
    }
    &-columnRight {
        padding: 0 50px 50px 50px;
        h2 {
            font-family: 'Rubik';
            line-height: 42px;
            font-weight: $font-weight-normal;
            color: $gray-800;
            padding-bottom: map-get($spacers, 3);
            @include responsive-font-size(32px);
        }
        p {
            font-weight: $font-weight-light;
            color: $gray-700;
            padding-bottom: map-get($spacers, 3);
            @include responsive-font-size(16px);
        }
        ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            li {
                display: flex;
                flex-wrap: wrap;
                font-weight: $font-weight-normal;
                color: $gray-800;
                padding: map-get($spacers, 0) map-get($spacers, 5) map-get($spacers, 2) 0;
                @include responsive-font-size(18px);

                i {
                    padding-right: map-get($spacers, 2);
                }
            }
        }
    }
}