.header { 
    padding: map-get($spacers, 4) 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: $white;
    z-index: 10;
    &__wrapper {
        display: flex;
        align-items: center;

        .logo {

        }
        nav {

            #menu-menu-principal {
                display: flex;
                align-items: center;
                margin: 0;
                .menu-item {
                    display: flex;
                    a {
                        font-weight: 400;
                        text-decoration: none;
                        transition: all 0.5s;
                        color:rgba(52, 58, 64, 0.8);
                        padding: map-get($spacers, 2);
                        margin: 0 map-get($spacers, 2);
                        @include responsive-font-size(14px);

                        &:hover {
                            color: $blue;
                        }
                    }
                }
            }
        }

        button {
            display: block;
            margin: 0;
            border: none;
            margin-left: auto;
            background-color: #ff426f ;
            color: $white;
            transition: all 0.5s;
            border-radius: map-get($spacers, 5);
            padding: 10px 30px;
            box-shadow: 0px 16px 31px -16px #ff426f;
            &:hover {
                transform: translateY(-5px);
            }
        }
    }
}

